body {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100vw;
  min-height: 100vh;
  margin: auto;
  font-size: 1.5em;
}

.d-none {
  display: none;
}

.calculator-container {
  width: 30vw;
  display: flex;
  flex-direction: column;
  padding-top: 3rem;
}

button {
  height: 3rem;
  border: 1px solid rgba(128, 128, 128, 0.712);
  border-bottom: none;
  border-right: none;
}

.answer {
  width: 30vw;
  display: flex;
  align-items: center;
  justify-content: right;
  background-color: grey;
  color: white;
  margin: 0.2rem auto;
  height: 3rem;
  position: absolute;
}

.calc-row-one p {
  padding-right: 0.5rem;
}

.calc-row-two button,
.calc-row-three button,
.calc-row-four button,
.calc-row-five button,
.calc-row-six button {
  width: 25%;
}

.calc-row-six {
  display: flex;
  width: 30vw;
  justify-content: space-between;
  border-bottom: 1px solid rgba(128, 128, 128, 0.712);
}

.calc-row-six .zero {
  width: 50%;
}

.calc-row-six .dot,
.calc-row-six .equal {
  width: 25%;
}

.orange {
  background-color: orange;
}
